In [18]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
# naive_bayes يستخدم هذا النموذج للتنبؤ بأكثر من فئتين 
# النتائج هنا سيئة لان البيانات غير حقيقية 
from sklearn.naive_bayes import GaussianNB,ComplementNB,BernoulliNB,CategoricalNB,MultinomialNB,_BaseDiscreteNB
from sklearn.metrics import accuracy_score , confusion_matrix

In [19]:
import warnings
warnings.filterwarnings('ignore')

In [20]:
data = pd.read_csv("StudentsPerformance.csv")

In [21]:
data['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [22]:
data['parental level of education'].replace(['some college',"associate's degree"],'capable',inplace=True)
data['parental level of education'].replace(['high school',"some high school"],'competent',inplace=True)
data['parental level of education'].replace(["master's degree","bachelor's degree"],'challenge',inplace=True)

In [23]:
data['parental level of education'].value_counts()

capable      448
competent    375
challenge    177
Name: parental level of education, dtype: int64

In [24]:
data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [25]:
data.drop(['gender', 'race/ethnicity','lunch','test preparation course'],axis=1,inplace=True)

In [26]:
data.columns  = ['Performance','Math','English','Science']

In [27]:
data

    Performance  Math  English  Science
0     challenge    72       72       74
1       capable    69       90       88
2     challenge    90       95       93
3       capable    47       57       44
4       capable    76       78       75
..          ...   ...      ...      ...
995   challenge    88       99       95
996   competent    62       55       55
997   competent    59       71       65
998     capable    68       78       77
999     capable    77       86       86

[1000 rows x 4 columns]

In [28]:
X = data.iloc[:,1:]
y = data.iloc[:,0]

In [29]:
display(X,y)

     Math  English  Science
0      72       72       74
1      69       90       88
2      90       95       93
3      47       57       44
4      76       78       75
..    ...      ...      ...
995    88       99       95
996    62       55       55
997    59       71       65
998    68       78       77
999    77       86       86

[1000 rows x 3 columns]

0      challenge
1        capable
2      challenge
3        capable
4        capable
         ...
995    challenge
996    competent
997    competent
998      capable
999      capable
Name: Performance, Length: 1000, dtype: object

In [30]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.30,random_state=1)

In [31]:
gn = GaussianNB()
gn.fit(X_train,y_train)
y_pred1 = gn.predict(X_test)
a1 = accuracy_score(y_test,y_pred1) * 100
a1

45.0

In [32]:
pn = ComplementNB()
pn.fit(X_train,y_train)
y_pred2 = pn.predict(X_test)
a2 = accuracy_score(y_test,y_pred2) * 100
a2

40.0

In [33]:
bn = BernoulliNB()
bn.fit(X_train,y_train)
y_pred3 = bn.predict(X_test)
a3 = accuracy_score(y_test,y_pred3) * 100
a3

40.666666666666664

In [34]:
cn = CategoricalNB()
cn.fit(X_train,y_train)
y_pred4 = cn.predict(X_test)
a4 = accuracy_score(y_test,y_pred4) * 100
a4

42.333333333333336

In [36]:
mn = MultinomialNB()
mn.fit(X_train,y_train)
y_pred5 = mn.predict(X_test)
a5 = accuracy_score(y_test,y_pred5) * 100
a5

40.666666666666664

In [37]:
pred1 = gn.predict([[65,90,80]])
pred1

array(['capable'], dtype='<U9')

In [38]:
pred2 = pn.predict([[65,90,80]])
pred2

array(['challenge'], dtype='<U9')

In [39]:
pred1 = bn.predict([[65,90,80]])
pred1

array(['capable'], dtype='<U9')

In [40]:
pred1 = cn.predict([[65,90,80]])
pred1

array(['capable'], dtype='<U9')

In [41]:
pred1 = mn.predict([[65,90,80]])
pred1

array(['capable'], dtype='<U9')